{% extends 'base.html' %}
{% block content %}

<div class="container center">
  <h3 id="heading-Login" class="Addh1Mobile">Please, login into your account</h3>
<form method="post" action="{% url 'login' %}">
    {% csrf_token %}
    <div class="containerlogin">
      <div class="z-depth-1 grey lighten-4 row" style="display: inline-block; padding: 32px 48px 0px 48px; border: 1px solid #EEE;">
        <label for="username">Username:</label>
            <input class="validate" type="text" name="username" id="username">
            <label for="password">Password:</label>
            <input class="validate" type="password" name="password" id="password">
            <div>
            <input type="submit" class="btn loginbtn indigo accent-2" value="login">
  
            <input type="hidden" name="next" value="{{ next }}">
            </div>
            <br>
        </div>
      </div>
  </form>
  </div>
{% endblock %}