{% extends 'base.html' %}


{% block content %}

<h1 id="heading">Sign Up</h1>
<div class="containersignup center">
{% if error_message %}<p class="red-text">{{ error_message }}</p>{% endif %}

<form action="{% url 'signup' %}" method="post">
	{% csrf_token %}	

	<div class="container col s6">
		<div class="z-depth-1 grey lighten-4 row" style="display: inline-block; padding: 32px 48px 0px 48px; border: 1px solid #EEE;">
			<div>

		
			<div class="row">
			<div class="col s12"> 
				<div class="col s6">
			  <input class='validate' maxlength="150" type='text' name='username' id='id_username' />
			  <label for='id_username'>Enter Username</label>
			  <input class='validate' type='password' name='password1' autocomplete="new-password" id='id_password1' />
			  <label for='id_password1'>Enter password</label>
			  <input class='validate' type='password' name='password2' autocomplete="new-password" id='id_password2' />
			  <label for='id_password2'>Confirm Password</label>
			</div>
			<div class="container col s6">
				<ul>
					<li> Requirements</li>
					<br>
                    <li>150 characters or fewer. <br>
						Letters, digits and @/./+/-/_ only.</li>
						<br>
						<li>Unique Password.</li>
						<li>at least 8 characters.
							can’t be entirely numeric.</li>
				</ul>  
				
			</div>
		</div>
		</div>
		<div>
		<input type="submit" class="btn" value="sign up">	
		</div>
		<br>
	</div>
</form>

		
</div>
{% endblock content %}