{% extends 'base.html' %}

{% block content %}
 
 <div class="slider fullscreen">
    <ul class="slides">
     
<div class="about-section center-align">
    <h3>Our Mission </h3>
    <h5>To provide innovative, scalable solutions to everyday challenges</h5>
    <h5>using technologies that enable seamless user interaction</h5>
  </div>
  <br>
  <br>
  <br>
  <h2 class="white-text"style="text-align:center">Our Team</h2>
  <br>
  <br>
  <br>
  <br>
  <div class="row">
    <div class="col s12 m3">
        <div class="card z-depth-3 blue-grey darken-1">
          <div class="card-content center-align white-text">
            <span class="card-title">Gabriel Coello</span>
            <p>GitHub Manager & Documenter</p>
          </div>
          <div class="card-action center-align">
            <a href="https://www.linkedin.com/in/gabrielcoellose/">Connect via LinkedIn</a>
          </div>
        </div>
      </div>
  
 
    <div class="col s12 m3">
      <div class="card z-depth-3 blue-grey darken-1">
        <div class="card-content center-align white-text">
          <span class="card-title">Shanna Smith</span>
          <p>Lead Designer</p>
        </div>
        <div class="card-action center-align">
          <a href="https://www.linkedin.com/in/shanna-smith-full-stack-dev">connect via LinkedIn</a>
        </div>
      </div>
    </div>
  
  
    <div class="col s12 m3">
      <div class="card z-depth-3 blue-grey darken-1">
        <div class="card-content center-align white-text">
          <span class="card-title">Jose Castro</span>
          <p>Database Manager</p>
        </div>
        <div class="card-action center-align">
          <a href="https://www.linkedin.com/in/jose-castro-fullstack-dev/">connect via LinkedIn</a>
        </div>
      </div>
    </div>
  
 
    <div class="col s12 m3">
      <div class="card z-depth-3 blue-grey darken-1">
        <div class="card-content center-align white-text">
          <span class="card-title">Lilibeht Montano</span>
          <p>Scrum Master.</p>
        </div>
        <div class="card-action center-align">
          <a href="https://www.linkedin.com/in/lilibeht-montano-29659113b">Connect via LinkedIn</a>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
</ul>
<script>
    src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"
    document.addEventListener('DOMContentLoaded', function() {
    var elems = document.querySelectorAll('.slider');
    var instances = M.Slider.init(elems);
    
  });
</script>

{% endblock %}