{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Job Tracker</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</head>
<body>
  <header class="navbar-fixed">
    <nav class="nav indigo darken-2">
      <div class="nav-wrapper">
        <ul>
          <li><a href="/" class="left brand-logo">&nbsp;&nbsp;Job Tracker</a></li>
        </ul>
        <ul class="right ">
          <li><a href="{% url 'about'%}">About</a></li>
          
          {% if user.is_authenticated %}  
          <li><a href="{% url 'profile' %}">Profile</a></li>
          <li><a href="{% url 'networkindex' %}">View All Networks</a></li>
          <li><a href="{% url 'index' %}">View All Jobs</a></li>
          <li><a href="{% url 'applications_create' %}">Add a Job</a></li>
          <li><a href="{% url 'logout' %}">Log Out</a></li>
         {% else %}
          <li><a href="{% url 'login' %}">Log In</a></li>
          <li><a href="{% url 'signup' %}">Signup</a></li>
          {% endif %}
        </ul>
      </div>
    </nav>
  </header>
  <main class="container">
    {% block content %}
    {% endblock %}
  </main>
  <footer class="page-footer indigo darken-2">
    <div class="footer-copyright left">An Error 404 creation</div>
    <div class="footer-copyright right">All Rights Reserved, &copy; 2022 Job Tracker &nbsp;</div>
  </footer>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</body>
</html>