{% extends 'base.html' %}
{% block content %}

<p>Welcome {{user.username}}</p>
{% for avatar in profile.avatar_set.all %}
<img class="responsive-img card-panel" src="{{avatar.url}}">
{% empty %}
<div class="card-panel teal-text center-align">No avatar Uploaded</div>
{% endfor %}
<!-- user.username, username came from tthe User built-in Django -->
<a href="{% url 'profile_update' user.id %}">Edit</a>

<p>Network Requests</p>
{% for network_request in network_request %}
<!-- File Path to display the user request and accept itt -->
<p>{{network_request.from_user}}</p>
<a href="/accept_network_request/{{network_request.id}}/">accept</a>

{% endfor %}
<p>Network Connections</p>
    
<!-- Display each element that is added to the nettwork -->
{% for network in networks %}
{% for n in network %}
    <p>{{n.username}}</p>
{% endfor %}
{% endfor %}
    
{% endblock %}



