{% extends 'base.html' %}
{% block content %}
<h3 id="heading" >Welcome {{user.username}}</h3>
<div class="row">
<div class="col s6 m4">
{% for avatar in user.profile.avatar_set.all %}
<img class="responsive-img card-panel" src="{{avatar.url}}">
{% empty %}
<div class="card-panel teal-text center-align">No avatar Uploaded
  <br> <br>
  <br> <br>
</div>

{% endfor %}
</div>

<div class="col s6 m4">
<form
action="{% url 'add_avatar' user.id %}"
enctype="multipart/form-data"
method="POST"
class="card-panel s6 m4"
>
{% csrf_token %}
<input type="file" name="avatar-file" />
<br /><br />
<input type="submit" class="btn" value="Upload Photo" />
</form><br>
</div>
</div>
<!-- user.username, username came from tthe User built-in Django -->
<div class="row">
  <div class="s6">
<div class="row ">
    <div class="col s6">
      <div class="card card indigo accent-2">
        <div class="card-content white-text">
          <span class="card-title"> Profile </span>
        {% if not user.profile.name%}
        {%else%}
        <p>Name: {{user.profile.name}}</p>
        {%endif%}
      
        {% if not user.profile.intro%}
        {%else%}
        <p>Intro: {{user.profile.intro}}</p>
        {%endif%}

        {% if not user.profile.title%}
        {%else%}
        <p>Title: {{user.profile.title}}</p>
        {%endif%}

        {% if not user.profile.hobbies%}
        {%else%}
        <p>Hobbies: {{user.profile.hobbies}}</p>
        {%endif%}
        </div>
        <div class="card-action">
            <a href="{% url 'profile_update' user.id %}">Edit</a>
        </div>
      </div>
    </div>
<div class="col s6">
<p class="card-panel  " >Network Requests</p>
{% for network_request in network_request %}
<!-- File Path to display the user request and accept itt -->
<p class="card-panel large-text "> {{network_request.from_user}}   <button class="waves-effect indigo darken-2  btn-small"><a href="/accept_network_request/{{network_request.id}}/" class="white-text">Accept</a></button></p>

{% endfor %}
<p class="card-panel">Network Connections</p>
    
<!-- Display each element that is added to the nettwork -->
{% for network in networks %}
{% for n in network %}
    <p class="card-panel indigo accent-2 white-text">{{n.username}}</p>
{% endfor %}
{% endfor %}
</div> 
</div>
{% endblock %}



