{% extends 'base.html' %}
{% block content %}
<h3 id="heading" >Welcome {{user.username}}</h3>

{% for avatar in profile.avatar_set.all %}
<img class="responsive-img card-panel" src="{{avatar.url}}">
{% empty %}
<div class="card-panel teal-text center-align">No avatar Uploaded</div>
{% endfor %}

<!-- user.username, username came from tthe User built-in Django -->
<div class="row">
    <div class="col s6">
      <div class="card">
        <div class="card-content">
          <span class="card-title"> Profile </span>
          <p>Name: {{user.profile.name}}</p>
          <p>Networks: {{user.profile.networks}}</p>
          <p>Intro: {{user.profile.intro}}</p>
          <p>Title: {{user.profile.title}}</p>
          <p>Hobbies: {{user.profile.hobbies}}</p>
        </div>
        <div class="card-action">
            <a href="{% url 'profile_update' user.id %}">Edit</a>
        </div>
      </div>

<p>Network Requests</p>
{% for network_request in network_request %}
<!-- File Path to display the user request and accept itt -->
<p>{{network_request.from_user}}</p>
<a href="/accept_network_request/{{network_request.id}}/">accept</a>

{% endfor %}
<p>Network Connections</p>
    
<!-- Display each element that is added to the nettwork -->
{% for network in networks %}
{% for n in network %}
    <p>{{n.username}}</p>
{% endfor %}
{% endfor %}
    
{% endblock %}



