{% extends 'base.html' %} {% block content %}

<h1 id="heading">Job Details</h1>
<div class="row">
  <div class="col s6">
    <div class="card">
      <div class="card-content">
        <span class="card-title"> Job Listing Description </span>
        <p>Name company {{application.name}}</p>
        <p>Role: {{application.role}}</p>
        <p>Salary: {{application.salary}}</p>
        <p>Location: {{application.location}}</p>
      </div>
      <div class="card-action">
        <a href="{% url 'applications_update' application.id %}">Edit</a>
        <a href="{% url 'applications_delete' application.id %}">Delete</a>
      </div>
    </div>
    {% for photo in application.photo_set.all %}
		<img class="responsive-img card-panel" src="{{photo.url}}">
		{% empty %}
		<div class="card-panel teal-text center-align">No Photos Uploaded</div>
		{% endfor %}
		<form action="{% url 'add_photo' application.id %}" enctype="multipart/form-data" method="POST" class="card-panel">
			{% csrf_token %}
			<input type="file" name="photo-file">
			<br><br>
			<input type="submit" class="btn" value="Upload Photo">
		</form>
  </div>
  <div class="col s6">
    <form action="{% url 'add_note' application.id %}" method="post">
      {% csrf_token %} {{note_form.as_p}}
      <input type="submit" value="Add Note" class="btn" />
    </form>

    <table class="striped">
      <thead>
        <tr>
          <th>Date</th>
          <th>Name</th>
          <th>Detail</th>
        </tr>
      </thead>
      <tbody>
        {% for note in application.note_set.all %}
        <tr>
          <td>{{note.date}}</td>
          <td>{{note.name}}</td>
          <td>{{note.note}}</td>
        </tr>
        {% endfor%}
      </tbody>
    </table>
  </div>
</div>
<script>
  const dateEl = document.getElementById("id_date");
  M.Datepicker.init(dateEl, {
    format: "yyyy-mm-dd",
    defaultDate: new Date(),
    setDefaultDate: true,
    autoClose: true,
  });

</script>
{% endblock %}
