{% extends 'base.html' %}
{% block content %}

<h1 id="heading">Application List</h1>

{% for application in applications %}
<a href="{% url 'detail' application.id %}">
  <div class="card">
    <div class="card-content black-text">
      <span class="card-title">{{ application.name }}</span>
      <p>Role: {{ application.role }}</p>
      <p>Salary: {{ application.salary }}</p>
      <p>Location: {{application.location }}</p>
      <p>Site: {{application.site}}</p>
    </div>
  </div>
  </a>
{% endfor %}

{% endblock %}